{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
        <body>
            MyNewHome is a web application designed to help new residents of cities in acclimating to their new homes.
            Its current form is that of a blog with helpful posts and recommendations about living in Baton Rouge, 
            but in the future it could be transformed into an almost a TripAdvisor-like 
            service with user ratings of local businesses and an events calendar.
            Target users are college students, recent graduates, and people moving for work.
            MyNewHome was created by 3 LSU computer science students:
            Benjamin Alterman, Emilia Garcia, and Pravina Pidikiti.
            </body>
{% endblock content %}
