{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
            <p1>    
                    <h5>
                            MyNewHome is a web application designed to help new residents of cities in acclimating to their new homes.
                            Its current form is that of a blog with helpful posts and recommendations about living in Baton Rouge, 
                            but in the future it could be transformed into an almost a TripAdvisor-like 
                            service with user ratings of local businesses and an events calendar.
                            Target users are college students, recent graduates, and people moving for work.
                    </h5>
            </p1>
            <p1>
            </p1>
            <p2>
                    <h5>
                
                            MyNewHome was created by 3 LSU computer science students:
                            Benjamin Alterman, Emilia Garcia, and Pravina Pidikiti.
                    </h5>
            </p2>
            

            
{% endblock content %}
